/* see how you can compress stuff better when done */
html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

/* Header and Footer */

.header, .footer {
    display: flex;
    flex: 0 1 500px;
    padding: 20px 20px;
    background-color: #1f2937;
    color: white;
}

.header {
    justify-content: space-between;
}

.footer {
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 8px;
}

/* Hero */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: #1f2937;
}

.hero-card {
    display: flex;
    flex: 0 1 1000px;
    height: 275px;
}

.hero-card-main-text {
    color: #f9faf8;
    font-weight: 500;
    font-size: 50px;
}

.hero-card-subtext {
    color: #e5e7eb;
    margin-bottom: 8px;
}

.website-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 25px 0 0;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-placeholder img {
    width: 100%;
}

.card-item {
    flex: 1;
}

/* Info section */

.info-section {
    text-align: center;
    height: 600px;
    padding: 60px;
}

.title {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 128px;
}

.illustrations {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.illustrations img {
    width: 200px;
}

/* Quote section */

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 600px;
}

.quote-text {
    width: 50%;
    font-size: 40px;
    font-style: italic;
    font-weight: 200;
}

.quote-author {
    text-align: end;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
}

/* Sign up section */

.sign-up-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 500px;
}

.sign-up-container {
    display: flex;
    flex: 0 1 60%;
    padding: 0 100px;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: solid #3882F6 5px;
    border-radius: 15px;
    background-color: #3882F6;
    color: white;
}

.sign-up-header {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    color: white;
}

.sign-up-text {
    flex: 1;
}

.sign-up-button {
    font-size: inherit;
    font-family: "Roboto";
    font-weight: 500;
    cursor: pointer;
    color: white;
    padding: 10px 45px;
    background-color: #3882F6;
    border: solid #ffffff 2px;
    border-radius: 5px;
}